[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~=5.2"
playwright = "~=1.51.0"
Pillow = "*"
python-dotenv = "*"
channels = {extras = ["daphne"], version = "*"}

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
